<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- AppleScript Support -->
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>PasteShelf.sdef</string>

	<!-- Sparkle Auto-Update -->
	<key>SUFeedURL</key>
	<string>https://pasteshelf.github.io/pasteshelf/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>y8EmCLgANDXNmgrjUNNVlmKo0hH3X/g6OBaf3Pa/N/g=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>

	<!-- URL Scheme Support -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.pasteshelf.PasteShelf</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pasteshelf</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
